<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Maat</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link type="text/css" rel="stylesheet" href="css/tyyli.css" th:href="@{css/tyyli.css}" />
</head>
<body>

	<div id="tausta">
		<h1>Maiden päästöt</h1>
		<form th:object="${maa}" th:action="@{/lisaamaa}" action="#" method="post">
			<div>
		  		<h4>Valitse maa:</h4><br/>
				<select id="lista" th:field="*{nimi}">
					<option th:each="maannimi: ${maidenNimet}" th:value="${maannimi.nimi}" th:text="${maannimi.nimi}"></option>
				</select>
			</div>
			<br><br>
		
			<div>
		  		<h4>Valitse vuosi:</h4><br/>
				<select id="lista" th:field="*{vuosi}">
					<option th:value="2018" th:text="2018"></option>
					<option th:value="2017" th:text="2017"></option>
					<option th:value="2016" th:text="2016"></option>
					<option th:value="2015" th:text="2015"></option>
					<option th:value="2014" th:text="2014"></option>
					<option th:value="2013" th:text="2013"></option>
					<option th:value="2012" th:text="2012"></option>
					<option th:value="2011" th:text="2011"></option>
					<option th:value="2010" th:text="2010"></option>
					<option th:value="2009" th:text="2009"></option>
					<option th:value="2008" th:text="2008"></option>
					<option th:value="2007" th:text="2007"></option>
					<option th:value="2006" th:text="2006"></option>
					<option th:value="2005" th:text="2005"></option>
					<option th:value="2004" th:text="2004"></option>
					<option th:value="2003" th:text="2003"></option>
					<option th:value="2002" th:text="2002"></option>
					<option th:value="2001" th:text="2001"></option>
					<option th:value="2000" th:text="2000"></option>
					<option th:value="1999" th:text="1999"></option>
					<option th:value="1998" th:text="1998"></option>
					<option th:value="1997" th:text="1997"></option>
					<option th:value="1996" th:text="1996"></option>
					<option th:value="1995" th:text="1995"></option>
					<option th:value="1994" th:text="1994"></option>
					<option th:value="1993" th:text="1993"></option>
					<option th:value="1992" th:text="1992"></option>
					<option th:value="1991" th:text="1991"></option>
					<option th:value="1990" th:text="1990"></option>
					<option th:value="1989" th:text="1989"></option>
					<option th:value="1988" th:text="1988"></option>
					<option th:value="1987" th:text="1987"></option>
					<option th:value="1986" th:text="1986"></option>
					<option th:value="1985" th:text="1985"></option>
					<option th:value="1984" th:text="1984"></option>
					<option th:value="1983" th:text="1983"></option>
					<option th:value="1982" th:text="1982"></option>
					<option th:value="1981" th:text="1981"></option>
					<option th:value="1980" th:text="1980"></option>
					<option th:value="1979" th:text="1979"></option>
					<option th:value="1978" th:text="1978"></option>
					<option th:value="1977" th:text="1977"></option>
					<option th:value="1976" th:text="1976"></option>
					<option th:value="1975" th:text="1975"></option>
					<option th:value="1974" th:text="1974"></option>
					<option th:value="1973" th:text="1973"></option>
					<option th:value="1972" th:text="1972"></option>
					<option th:value="1971" th:text="1971"></option>
					<option th:value="1970" th:text="1970"></option>
					<option th:value="1969" th:text="1969"></option>
					<option th:value="1968" th:text="1968"></option>
					<option th:value="1967" th:text="1967"></option>
					<option th:value="1966" th:text="1966"></option>
					<option th:value="1965" th:text="1965"></option>
					<option th:value="1964" th:text="1964"></option>
					<option th:value="1963" th:text="1963"></option>
					<option th:value="1962" th:text="1962"></option>
					<option th:value="1961" th:text="1961"></option>
					<option th:value="1960" th:text="1960"></option>
				</select>
			</div>
			<input id="painike" type="submit" value="Hae tiedot"></input>
		</form>
		
		<div>
			<table id="maiden-tiedot">
				<tr th:each = "maa : ${maat}">
					<td th:object = "${maa}" id="maan-tiedot">
						<div  id="ylapalsta">
							<div id="poistapainike">
								<p id="poista">Poista</p>
							</div>
						</div>
						
						<div>
							<table id="taulukko">
								<tr>
									<td id="solu"></td>
									<td id="solu"><div><h2 th:text="${maa.nimi}">Maan nimi</h2></div></td>
									<td id="solu"><div><h2 th:text="${maa.vuosi}">Vuosi</h2></div></td>
								</tr>
							</table>
						</div>
						
						<div>
							<table id="taulukko">
								<tr>
									<td id="solu"><h3>Väkiluku:</h3></td>
									<td id="solu" th:text="${#numbers.formatDecimal(maa.vakiluku, 0, 'WHITESPACE', 0, 'COMMA')} + ' asukasta'">Väkiluku</td>
									<td id="solu"></td>
								</tr>
							</table>
						</div>
						<div>
							<table>
								<tr>
									<td id="solu"><h3>CO2-päästöt:</h3></td>
									<td id="solu"><p><b>Koko maa:</b></p></td>
									<td id="solu" th:text="${#numbers.formatDecimal(maa.paasto, 0, 'WHITESPACE', 0, 'COMMA')} + ' tuhatta tonnia'">Päästö</td>
								</tr>
								<tr>
									<td id="solu"></td>
									<td id="solu"><p><b>Yksi asukas:</b></p></td>
									<td id="solu" th:text="${#numbers.formatDecimal(maa.paastoPerAsukas, 1,2)} + ' tonnia'">Päästö per asukas</td>
								</tr>
							</table>	
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>