<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>paastot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>

	<div>
		<h1>Paasto</h1>
		<div>
			<table>
				<tr th:each="paasto : ${paastot}">
					<td th:text="${paasto.paastonimi}">paasto</td>
					<td th:text="${paasto.vuosi1960}">Vuosi</td>
					<td th:text="${paasto.vuosi1961}">Vuosi</td>
					<td th:text="${paasto.vuosi1962}">Vuosi</td>
					<td th:text="${paasto.vuosi1963}">Vuosi</td>
					<td th:text="${paasto.vuosi1964}">Vuosi</td>
					<td th:text="${paasto.vuosi1965}">Vuosi</td>
					<td th:text="${paasto.vuosi1966}">Vuosi</td>
					<td th:text="${paasto.vuosi1967}">Vuosi</td>
					<td th:text="${paasto.vuosi1968}">Vuosi</td>
					<td th:text="${paasto.vuosi1969}">Vuosi</td>
					<td th:text="${paasto.vuosi1970}">Vuosi</td>
					<td th:text="${paasto.vuosi1971}">Vuosi</td>
					<td th:text="${paasto.vuosi1972}">Vuosi</td>
					<td th:text="${paasto.vuosi1973}">Vuosi</td>
					<td th:text="${paasto.vuosi1974}">Vuosi</td>
					<td th:text="${paasto.vuosi1975}">Vuosi</td>
					<td th:text="${paasto.vuosi1976}">Vuosi</td>
					<td th:text="${paasto.vuosi1977}">Vuosi</td>
					<td th:text="${paasto.vuosi1978}">Vuosi</td>
					<td th:text="${paasto.vuosi1979}">Vuosi</td>
					<td th:text="${paasto.vuosi1980}">Vuosi</td>
					<td th:text="${paasto.vuosi1981}">Vuosi</td>
					<td th:text="${paasto.vuosi1982}">Vuosi</td>
					<td th:text="${paasto.vuosi1983}">Vuosi</td>
					<td th:text="${paasto.vuosi1984}">Vuosi</td>
					<td th:text="${paasto.vuosi1985}">Vuosi</td>
					<td th:text="${paasto.vuosi1986}">Vuosi</td>
					<td th:text="${paasto.vuosi1987}">Vuosi</td>
					<td th:text="${paasto.vuosi1988}">Vuosi</td>
					<td th:text="${paasto.vuosi1989}">Vuosi</td>
					<td th:text="${paasto.vuosi1990}">Vuosi</td>
					<td th:text="${paasto.vuosi1991}">Vuosi</td>
					<td th:text="${paasto.vuosi1992}">Vuosi</td>
					<td th:text="${paasto.vuosi1993}">Vuosi</td>
					<td th:text="${paasto.vuosi1994}">Vuosi</td>
					<td th:text="${paasto.vuosi1995}">Vuosi</td>
					<td th:text="${paasto.vuosi1996}">Vuosi</td>
					<td th:text="${paasto.vuosi1997}">Vuosi</td>
					<td th:text="${paasto.vuosi1998}">Vuosi</td>
					<td th:text="${paasto.vuosi1999}">Vuosi</td>
					<td th:text="${paasto.vuosi2000}">Vuosi</td>
					<td th:text="${paasto.vuosi2001}">Vuosi</td>
					<td th:text="${paasto.vuosi2002}">Vuosi</td>
					<td th:text="${paasto.vuosi2003}">Vuosi</td>
					<td th:text="${paasto.vuosi2004}">Vuosi</td>
					<td th:text="${paasto.vuosi2005}">Vuosi</td>
					<td th:text="${paasto.vuosi2006}">Vuosi</td>
					<td th:text="${paasto.vuosi2007}">Vuosi</td>
					<td th:text="${paasto.vuosi2008}">Vuosi</td>
					<td th:text="${paasto.vuosi2009}">Vuosi</td>
					<td th:text="${paasto.vuosi2010}">Vuosi</td>
					<td th:text="${paasto.vuosi2011}">Vuosi</td>
					<td th:text="${paasto.vuosi2012}">Vuosi</td>
					<td th:text="${paasto.vuosi2013}">Vuosi</td>
					<td th:text="${paasto.vuosi2014}">Vuosi</td>
					<td th:text="${paasto.vuosi2015}">Vuosi</td>
					<td th:text="${paasto.vuosi2016}">Vuosi</td>
					<td th:text="${paasto.vuosi2017}">Vuosi</td>
					<td th:text="${paasto.vuosi2018}">Vuosi</td>			
				</tr>
			</table>
		</div>
	</div>
</body>
</html>