body {
	background-color: #515150;
	background-image: url(images/sun.jpg);
	text-align: center;
	margin: auto;
	font-family: 'Arial';
	margin-top: 25px;
}

#tausta {
	background-color: #ffffff;
	width: 80%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

#kaikkitiedot {
	background-color: #eaf1fc;
	width: 370%;
	margin: 20px;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

#lista {
	width: 250px;
	height: 25px;
	background-color: #eaf1fc;
}

#painike {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #f771e9;
	width: 100px;
	height: 40px;
	font-weight: bold;
	font-size: 16px;
	height:calc(2.25rem + 2px);padding:.375rem .75rem;font-size:1rem;line-height:1.5;background-clip:padding-box;border:1px solid #f771e9;border-radius:.1rem;
}

#maiden-tiedot {
	width: 80%;
	margin: auto;
	margin-bottom: 20px;
	font-size: 14px;
}

#maan-tiedot {
	background-color: #eaf1fc;
	margin-top: 15px;
	width: 100%;
	padding-bottom: 20px;
	border: 3px solid #f0d0fd;
}

#taulukko {
	padding-bottom: 8px;
}

#ylapalsta {
	text-align: center;
}

#poistapainike {
	text-align: right;
}

#poista {
	color: red;
	padding-right: 5px;
}

#solu {
	width: 200px;
	text-align: left;
	padding-bottom: 0;
	padding-left: 10px;
}

#ei-saatavilla {
	font-style: italic;
	color: grey;
}

h1 {
	color: #515150;
}

h2 {
	margin-top: 2px;
	margin-bottom: 0px;
	color: #515150;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

h4 {
	margin-bottom: 0px;
	margin-top: 0px;
}

p {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
}

