body {
	background-color: #515150;
	text-align: center;
	margin: auto;
	font-family: 'Arial';
	margin-top: 25px;
}

#tausta {
	background-color: #eaeaea;
	width: 80%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

#lista {
	width: 250px;
	height: 25px;
}

#painike {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #f771e9;
	width: 100px;
	height: 40px;
	font-weight: bold;
	font-size: 16px;
}

#maiden-tiedot {
	width: 70%;
	margin: auto;
	margin-bottom: 20px;
	font-size: 14px;
	border-color: black;
}

#maan-tiedot {
	background-color: white;
	margin-top: 15px;
	width: 100%;
	padding-bottom: 20px;
	border: 3px solid #c4c4c6;
}

#taulukko {
	padding-bottom: 8px;
}

#ylapalsta {
	text-align: center;
}

#poistapainike {
	text-align: right;
}

#poista {
	color: red;
}

#solu {
	width: 200px;
	text-align: left;
	padding-bottom: 0;
	padding-left: 10px;
}

h1 {
	color: #515150;
}

h2 {
	margin-top: 2px;
	color: #515150;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

h4 {
	margin-bottom: 0px;
	margin-top: 0px;
}

p {
	margin-top: 0px;
	margin-bottom: 0px;
}

